 <div class="container">
  <div class = "header">
  <img src = "<%= @user.gravatar_url %>"/>
  <h1 class="title"> <%=@user.username%></h1>
  </div>

  <!-- this is a ton of logic in your view! you should try to handle as much of this -->
  <!-- as you can in your controller.  -->

  <% if session[:user_id] != @user.id && (User.find(session[:user_id]).is_following?(@user) == false) %>
    <form action="/follow/<%= @user.username %>" method="post">
      <button type="submit" class="btn btn-primary">Follow</button>
    </form>
  <% end %>
    <a href="/<%=@current_user.username%>"><button type="submit" class="btn btn-default">Home</button></a>



  <div class="feed">
    <!-- this is a totally fine amount of logic in your view. iterators and getters are kosher -->
    <% @user.tweets.each do |t| %>
      <div class="tweet">
        <div class="tweet-body"><%= t.text %></div>
      </div>
    <% end %>
  </div>


 </div>