 <div class="container">
  <div class = "header">
  <img src = "<%= @user.gravatar_url %>"/>
  <h1 class="title"> <%=@user.username%></h1>
  </div>

  <% if session[:user_id] != @user.id && (User.find(session[:user_id]).is_following?(@user) == false) %>
  <form action="/follow/<%= @user.username %>" method="post">
    <button type="submit" class="btn btn-primary">Follow</button>
  </form>
  <% end %>


  <a href="/<%=User.find(session[:user_id]).username%>"><button type="submit" class="btn btn-default">Home</button></a>
  <div class="feed">
    <% @user.tweets.each do |t| %>
      <div class="tweet">
        <div class="tweet-body"><%= t.text %></div>
      </div>
    <% end %>
  </div>


 </div>