
  <h1>Hello <%=@user.username%></h1>

  <form action="/tweet" method="post">
    <input type="text" maxlength="140" name="text">
    <button type="submit">Tweet</button>
  </form>

  <form action="/logout" method="post">
    <button type="submit">Log Out</button>
  </form>

  <h4> See someone else's tweets </h4>
<form action="/public_profile" method="post">
  <input type="text" name="username">
  <input type="submit" >
</form>
  <% @tweets.each do |tweet| %>
    <p> At <%= tweet[0] %> <%= tweet[1] %> Says <%= tweet[2] %></p>
  <% end %>
  <h4>Followers list</h4>
  <ol>
  <% @user.followers.each do |follower| %>
    <li><%= User.find(follower.follower_id).username %></li>
  <% end%>
  </ol>




