<div class="container">
  <div class = "header">
  <img src = "<%= @user.gravatar_url %>"/>
  <h1 class="title"> <%=@user.username%></h1>
  </div>

  <form action="/tweet" method="post">
    <input type="text" maxlength="140" name="text" class="form-control">
    <button type="submit" class="btn btn-success">Tweet</button>
  </form>



  <h3 class="title">See someone else's tweets</h3>
  <form action="/public_profile" method="post">
    <input type="text" name="username" class="form-control">
    <button type="submit" class="btn btn-success">Search</button>
  </form>

  <% if @user.followers.length > 0 %>
    <div class="followers">
      <h3 class="title">Who Follows You: </h3>
      <ol>
      <% @user.followers.each do |follower| %>
        <li><%= User.find(follower.follower_id).username %></li>
      <% end%>
      </ol>
    </div>
  <% end %>

  <% if @people_being_followed.length > 0 %>
    <div class="following">
      <h3 class="title">Who You Follow: </h3>
      <ol>
      <% @people_being_followed.each do |followee| %>
        <li><%= User.find(followee).username %></li>
      <% end%>
      </ol>
    </div>
  <% end %>

  <% if @tweets.length > 0 %>
    <h2>Feed:</h2>
    <div class="feed">
      <% @tweets.each do |tweet| %>
        <div class="tweet">
          <div class="tweet-img" ><img class="feed-img" src = "<%= @user.gravatar_url %>"/></div>
          <div class="handle feed-align"><a href="/<%= User.find(tweet.user_id).username %>">@<%= User.find(tweet.user_id).username %>:</a></div>
          <div class="tweet-body feed-align"><%= User.find(tweet.user_id).username %></div>
          <div class="feed-align">At <%= User.find(tweet.user_id).username %></div>
          <a href="/retweet/<%= User.find(tweet.user_id).username %>">Retweet</a>

        </div>
      <% end %>
    </div>
  <%end%>

  <form action="/logout" method="post">
    <button type="submit" class="btn btn-danger">Log Out</button>
  </form>

</div>